.banner {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
}

.title {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.banner_icon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_count {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
